<!DOCTYPE HTML>
<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
		<title>{{siteoptions.pageTitle}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<meta name="keywords" content="aduanas, aduana, comercio, logistica, mexico, agente aduanal,arancel, aranceles, importacion, exportacion, información, noticias, blog, sitio, asesoría, agentes, veracruz, acl" />
		<meta name="description" content="Expertos en comercio internacional, te damos atención y asesoria personalizada en servicios aduanales de importación y/o exportación de productos." />

		<meta property="author" content="Aduanas, Comercio y Logística" />
		<meta property="og:site_name" content="Aduanas, Comercio y Logística" />
		<meta property="article:author" content="https://www.facebook.com/aduanascl" />
		<meta name="twitter:creator" content="@aduanascl">

		<meta property="fb:app_id" content="916213195150344" />
		<meta property="fb:pages" content="Aduanascl" />
		<meta property="fb:profile_id" content="198698773494138" />
		<meta property="og:type" content="business.business" />
		<meta property="og:url" content="https://aduanascl.mx/" />
		<meta property="og:title" content="Aduanas Comercio y Logística" />
		<meta property="og:description" content="Expertos en comercio internacional, te damos atención y asesoria personalizada en servicios aduanales de importación y/o exportación de productos." />
		<meta property="og:image" content="https://aduanascl.mx/acl-logo.png" />
		<meta property="og:image:url" content="https://aduanascl.mx/acl-logo.png" />
		<meta property="og:image:secure_url" content="https://aduanascl.mx/acl-logo.png" />
		<meta property="business:contact_data:street_address" content="Matilde Márquez 68" />
		<meta property="business:contact_data:locality"       content="Ciudad de México" />
		<meta property="business:contact_data:postal_code"    content="15520" />
		<meta property="business:contact_data:country_name"   content="México" />
		<meta property="place:location:latitude"  content="19.4371781" />
		<meta property="place:location:longitude" content="-99.0842588" />

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@aduanascl">
		<meta name="twitter:creator" content="@aduanascl">
		<meta name="twitter:title" content="Aduanas Comercio y Logística">
		<meta name="twitter:description" content="Expertos en comercio internacional, te damos atención y asesoria personalizada en servicios aduanales de importación y/o exportación de productos.">
		<meta name="twitter:image" content="https://aduanascl.mx/acl-logo.png">

	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				{{> header}}


				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>{{siteoptions.slogan}}</h1>
							</header>
							<div class="content">
								{{{siteoptions.description.brief}}}
								<ul class="actions">
									<li><a href="#contact" class="button next scrolly">Contactanos</a></li>
								</ul>
							</div>
						</div>
					</section>

					<!-- Contact -->
					{{> contact}}

					<!-- Footer -->
					{{> footer}}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
