<!DOCTYPE HTML>
<html>
	<head>
		<title>{{page.title}} + {{siteoptions.pageTitle}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				{{> header pages=pages}}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{{page.image.secure_url}}" alt="" />
							</span>
							<header class="major">
								<h1>{{page.title}}</h1>
							</header>
							<div class="content">
								{{{page.content.brief}}}
							</div>
						</div>
					</section>

					<!-- Main -->
						<div id="main" class="alt">

							<!-- One -->
								<section id="one">
									<div class="inner">
										{{{page.content.extended}}}
									</div>
								</section>

						</div>

					<!-- Contact -->
					{{> contact}}

					<!-- Footer -->
					{{> footer}}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
