<!DOCTYPE HTML>
<html>
	<head>
		<title>Servicios + {{siteoptions.pageTitle}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<meta name="keywords" content="aduanas, aduana, comercio, logistica, mexico, agente aduanal, importacion, exportacion, acl, servicios, terrestre, maritima, aerea" />
		<meta name="description" content="En ACL ofrecemos servicios de comercio exterior, importación y/o exportación de sus mercancías con la asesoría personalizada de nuestros ejecutivos en las principales aduanas; Terrestres, Marítimas y Aéreas de México." />

		<meta property="author" content="Aduanas, Comercio y Logística" />
		<meta property="og:site_name" content="Aduanas, Comercio y Logística" />
		<meta property="article:author" content="https://www.facebook.com/aduanascl" />
		<meta name="twitter:creator" content="@aduanascl">

		<meta property="fb:app_id" content="916213195150344" />
		<meta property="fb:pages" content="Aduanascl" />
		<meta property="fb:profile_id" content="198698773494138" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://aduanascl.mx/servicios/" />
		<meta property="og:title" content="Servicios + {{siteoptions.pageTitle}}" />
		<meta property="og:description" content="Servicios de comercio exterior, importación y/o exportación de sus mercancías con la asesoría personalizada de nuestros ejecutivos en las principales aduanas; Terrestres, Marítimas y Aéreas de México." />
		<meta property="og:image" content="https://aduanascl.mx/images/pic07.jpg" />
		<meta property="og:image:url" content="https://aduanascl.mx/images/pic07.jpg" />
		<meta property="og:image:secure_url" content="https://aduanascl.mx/images/pic07.jpg" />

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@aduanascl">
		<meta name="twitter:creator" content="@aduanascl">
		<meta name="twitter:title" content="Servicios + {{siteoptions.pageTitle}}">
		<meta name="twitter:description" content="Servicios de comercio exterior, importación y/o exportación de sus mercancías con la asesoría de nuestros ejecutivos en las principales aduanas; Terrestres, Marítimas y Aéreas de México.">
		<meta name="twitter:image" content="https://aduanascl.mx/images/pic07.jpg">
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				{{> header}}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Aduanas Aéreas, Terrestres y Marítimas</h1>
							</header>
							<div class="content">
								<p>Nuestros servicios de comercio exterior , integran en sus diferentes modalidades de importación y/o exportación de sus mercancías la asesoría personalizada de nuestros ejecutivos en sus operaciones  en las principales aduanas ; Terrestres , Marítimas y Aéreas de la República Mexicana.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
						<!-- Two -->
							<section id="two" class="spotlights">
								{{#each services as |s|}}
								  {{> service service=s}}
								{{/each}}
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h2>{{siteoptions.sloganExt}}</h2>
									</header>
									{{{siteoptions.description.extended}}}
									<ul class="actions">
										<li><a href="#" class="button next">Contactanos</a></li>
									</ul>
								</div>
							</section>
					</div>

					<!-- Contact -->
					{{> contact}}

					<!-- Footer -->
					{{> footer}}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
