<!DOCTYPE HTML>
<html>
	<head>
		<title>{{service.title}} | Aduanas, Comercio y Logística en México</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<meta name="keywords" content="aduanas, aduana, comercio, logistica, mexico, agente aduanal, importacion, exportacion, acl, {{service.seo_keywords}}" />
		<meta name="description" content="{{service.seo_description}}" />

		<meta property="author" content="Aduanas, Comercio y Logística" />
		<meta property="og:site_name" content="Aduanas, Comercio y Logística" />
		<meta property="article:author" content="https://www.facebook.com/aduanascl" />
		<meta name="twitter:creator" content="@aduanascl">

		<meta property="fb:app_id" content="916213195150344" />
		<meta property="fb:pages" content="Aduanascl" />
		<meta property="fb:profile_id" content="198698773494138" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://aduanascl.mx/servicio/{{service.slug}}" />
		<meta property="og:title" content="{{service.seo_title}}" />
		<meta property="og:description" content="{{service.seo_description_fb}}" />
		<meta property="og:image" content="{{service.seo_img.secure_url}}" />
		<meta property="og:image:url" content="{{service.seo_img.url}}" />
		<meta property="og:image:secure_url" content="{{service.seo_img.secure_url}}" />

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@aduanascl">
		<meta name="twitter:creator" content="@aduanascl">
		<meta name="twitter:title" content="{{service.seo_title}}">
		<meta name="twitter:description" content="{{service.seo_description_tw}}">
		<meta name="twitter:image" content="{{service.seo_img.secure_url}}">
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				{{> header}}

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>{{service.title}}</h1>
									</header>
									<span class="image main"><img src="{{service.image.secure_url}}" alt="" /></span>
									{{{service.content.extended}}}
								</div>
							</section>

					</div>
					<!-- Contact -->
					{{> contact}}

					<!-- Footer -->
					{{> footer}}


			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>
