<div id="contact">
	<div class="inner">
		<section>
			<div class="inner">
				<header class="major">
					<h2>{{siteoptions.sloganExt}}</h2>
				</header>
				{{{siteoptions.description.extended}}}
				<ul class="actions">
					<li><a href="/servicios" class="button next">Servicios</a></li>
				</ul>
			</div>
		</section>
		<div class="split">
			<section class="split-contact">
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="mailto:{{siteoptions.contactEmail}}">{{siteoptions.contactEmail}}</a>
				</div>
				<div class="contact-method right">
					<span class="icon alt fa-phone"></span>
					<h3>Telefono</h3>
					<a href="tel:{{siteoptions.telephone}}">{{siteoptions.telephone}}</a>
				</div>
			</section>
			<section class="contact-map">
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Dirección</h3>
					<span>{{{siteoptions.address}}}</span>
				</div>
			</section>
			<div id="map"></div>
		</div>
	</div>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAreUBTYJ6Row29OvL4zVW1AiE3k9CjRU"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script type="text/javascript">
		// When the window has finished loading create our google map below
		google.maps.event.addDomListener(window, 'load', init);

		function init() {
				var mapOptions = {
						zoom: 16,
						center: new google.maps.LatLng(19.4371781,-99.0842588),
						styles: [	{"featureType":"all",		"stylers":[			{"saturation":0},			{"hue":"#e7ecf0"}		]	},	{"featureType":"road",		"stylers":[			{"saturation":-70}		]	},	{"featureType":"transit",		"stylers":[			{"visibility":"off"}		]	},	{"featureType":"poi",		"stylers":[			{"visibility":"off"}		]	},	{"featureType":"water",		"stylers":[			{"visibility":"simplified"},			{"saturation":-60}		]	}],
						scrollwheel: false,
						streetViewControl: false
				};

				var mapElement = document.getElementById('map');
				var map = new google.maps.Map(mapElement, mapOptions);
				var marker = new google.maps.Marker({
						position: new google.maps.LatLng(19.4371781,-99.0842588),
						map: map,
						icon: '/marker.png',
						title: 'Aduanas Comercio y Logística'
				});
		}

		!function(a,c,l){a.GoogleAnalyticsObject=l;a[l]||(a[l]=function(){
		(a[l].q=a[l].q||[]).push(arguments)});a[l].l=+new Date;var s=c.createElement('script'),
		e=c.scripts[0];s.src='//www.google-analytics.com/analytics.js';
		e.parentNode.insertBefore(s,e)}(window,document,'ga');

		ga('create', 'UA-84224925-1', 'auto');
		ga('send', 'pageview');

</script>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?4CajbG9ITlLrOEdxleubcPnY5Pvde6ip";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
