<footer id="footer">
	<div class="inner">
		<ul class="copyright">
			<li>&copy; {{siteoptions.pageTitle}}</li>
		</ul>
		<ul class="icons">
			{{#if siteoptions.twitter}}
			<li><a href="{{siteoptions.twitter}}" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
			{{/if}}
			{{#if siteoptions.facebook}}
			<li><a href="{{siteoptions.facebook}}" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
			{{/if}}
			{{#if siteoptions.instagram}}
			<li><a href="{{siteoptions.instagram}}" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			{{/if}}
			{{#if siteoptions.linkedin}}
			<li><a href="{{siteoptions.linkedin}}" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
			{{/if}}
		</ul>
	</div>
</footer>
