<header id="header" class="alt">
	<a href="/" class="logo"><strong>ACL</strong> <span>Aduanas Comercio y Logística</span></a>
	<nav>
		<a class="header-phone" href="tel:{{siteoptions.telephone}}">CDMX: {{siteoptions.telephone}}</a>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="/">Inicio</a></li>
		<li><a href="/servicios">Servicios</a></li>
		{{#each pages as |p|}}
		<li><a href="/{{p.slug}}">{{p.title}}</a></li>
		{{/each}}
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Contactanos</a></li>
	</ul>
	<ul class="links">
		<li><a href="tel:{{siteoptions.telephone}}">{{siteoptions.telephone}}</a></li>
		<li><a href="mailto:{{siteoptions.contactEmail}}">{{siteoptions.contactEmail}}</a></li>
	</ul>
</nav>
