<!-- Main -->
  <div id="main">

    <!-- One -->
      <section id="one" class="tiles">
        <article>
          <span class="image">
            <img src="images/pic01.jpg" alt="" />
          </span>
          <header class="major">
            <h3><a href="/servicios" class="link">Expertos en Comercio</a></h3>
            <p>Aduanas Aéreas, Terrestres y Marítimas.</p>
          </header>
        </article>
        <article>
          <span class="image">
            <img src="images/pic02.jpg" alt="" />
          </span>
          <header class="major">
            <h3><a href="/servicios" class="link">Despacho Aduanal</a></h3>
            <p>Nuestros servicios de comercio exterior , integran en sus diferentes modalidades de importación y/o exportación de sus mercancías la asesoría personalizada de nuestros ejecutivos en sus operaciones  en las principales aduanas ; Terrestres , Marítimas y Aéreas de la República Mexicana.</p>
          </header>
        </article>
        <article>
          <span class="image">
            <img src="images/pic03.jpg" alt="" />
          </span>
          <header class="major">
            <h3><a href="/servicios" class="link">Agencia Aduanal</a></h3>
            <p>Somos Expertos</p>
          </header>
        </article>
        <article>
          <span class="image">
            <img src="images/pic04.jpg" alt="" />
          </span>
          <header class="major">
            <h3><a href="/servicios" class="link">Transporte Internacional y Nacional</a></h3>
            <p>Facilite el traslado de sus productos , con nosotros . Hacemos todo por usted para proteger y asegurar la entrega de sus mercancías  ya que nosotros nos encargamos del embalaje , aseguramiento y maniobras.</p>
          </header>
        </article>
        <article>
          <span class="image">
            <img src="images/pic05.jpg" alt="" />
          </span>
          <header class="major">
            <h3><a href="/servicios" class="link">Atención a Mercancías Vulnerables</a></h3>
            <p>En las operaciones de comercio exterior  en importaciones u exportaciones , se presentan los casos de mercancías vulnerables en la aduana , los cuales suelen ir a destrucción o abandono por la inexperiencia en la gestión de su liberación.</p>
          </header>
        </article>
        <article>
          <span class="image">
            <img src="images/pic06.jpg" alt="" />
          </span>
          <header class="major">
            <h3><a href="/servicios" class="link">Despacho de Importación o Exportación</a></h3>
            <p>Nuestros servicios de comercio exterior , integran en sus diferentes modalidades de importación y/o exportación de sus mercancías la asesoría personalizada de nuestros ejecutivos en sus operaciones  en las principales aduanas ; Terrestres , Marítimas y Aéreas de la República Mexicana.</p>
          </header>
        </article>
      </section>

  </div>
