<section>
	<a href="/servicio/{{service.slug}}" class="image">
		<img src="{{service.image.secure_url}}" alt="" data-position="center center" />
	</a>
	<div class="content">
		<div class="inner">
			<header class="major">
				<h3>{{service.title}}</h3>
			</header>
			{{{service.content.brief}}}
			<ul class="actions">
				<li><a href="/servicio/{{service.slug}}" class="button">Ver más</a></li>
			</ul>
		</div>
	</div>
</section>
